<div class="container">
  <div class="header__left">
    {% include '../../modules/logo/logo.twig' %}
  </div>
  <div class="header__centre">
    {% include '../../modules/menu/menu.twig' %}
  </div>
  <div class="header__right">
    {% include '../../modules/search/search.twig' %}
  </div>

  <div class="full-width">
    {% include '../../modules/banner/banner.twig' %}
  </div>

  <div class="content__left">
    {% include '../../modules/panel/panel.twig' %}
  </div>
  <div class="content__right">
    {% include '../../modules/panel/panel.twig' %}
  </div>
  <div class="content__main">
    {% include '../../modules/accordion/accordion.twig' %}
  </div>
  <div class="content__side">
    {% include '../../modules/panel/panel.twig' %}
  </div>
</div>